.about {
    padding: 30px;
    position: relative;
    height: 60vh;
    border: none;

}
  .about h2 {
      font-size: 45px;
      font-weight: 700;
      text-align: left;
      color: #273B09;

  }
  .about p{
    line-height: 1.5em;
  }