.banner {
    margin-top: 0;
    height: 100vh;
    padding: 200px;
    background-image: url('../assets/img/landing-img.png');
    min-height: 250px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .banner .tagline {
    font-weight: 700;
    color: #fff;
    letter-spacing: 1px;
    padding: 10px;
    font-size: 90px;
    text-align: center;
    text-shadow: 2px 2px 4px #000;
    display: flex;
    justify-content: center;
  }
