    .divider{
        height: 70vh;
        min-height: 250px; 
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("../assets/vid/landing-bg.mp4");
    }